## Demonstration of .loc and i.loc

In [9]:
import pandas as pd

# A hypothetical python dictionary containing driver configuration 
drive_cfg = {
    'driver_id': [1,2,3,4], 
    'drives_right': [True,False,True,False]
}
# convert dictionary to a pandas datafrme with two columns, driver_id and drives_rigt
sample_df = pd.DataFrame(drive_cfg)

In [10]:
sample_df.head()

   driver_id  drives_right
0          1          True
1          2         False
2          3          True
3          4         False

### using .loc
- .loc uses column name, in this case, drives_right
- As a series, pass column name as a string, i.e, without [], 
    - sample_df.loc[:, 'drives_right']
- As a dataframe, pass column name as a list, i.e, with []
    - sample_df.loc[:, ['drives_right']]

In [11]:
print(type(sample_df.loc[:, 'drives_right']))
print(type(sample_df.loc[:, ['drives_right']]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [12]:
## As a series output
sample_df.loc[:, 'drives_right']

0     True
1    False
2     True
3    False
Name: drives_right, dtype: bool

In [13]:
## DataFrame output
sample_df.loc[:, ['drives_right']]

   drives_right
0          True
1         False
2          True
3         False

### using .iloc
- .iloc uses column index, in this case, index of drives_right=1
- As a series, pass column index as an int, i.e, without [], 
    - sample_df.iloc[:, 1]
- As a dataframe, pass column index as a list, i.e, with []
    - sample_df.iloc[:, [1]]

In [14]:
print(type(sample_df.iloc[:, 1]))
print(type(sample_df.iloc[:, [1]]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [15]:
## As a series output
sample_df.iloc[:, 1]

0     True
1    False
2     True
3    False
Name: drives_right, dtype: bool

In [16]:
## DataFrame output
sample_df.iloc[:, [1]]

   drives_right
0          True
1         False
2          True
3         False